
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box !important;
}

.title {
  font-family: "Tilt Warp", cursive !important;
}

.post {
  width: 100% !important;
  height: auto !important;
}

.post video {
  display: block;
  width: calc(100% - 1px) !important;
  height: auto !important;
  border-radius: 8px;
}

.opacity-gradient {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 90%,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  -moz-mask-image: -moz-gradient(
    linear,
    left 90%,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: gradient(
    linear,
    left 90%,
    left bottom,
    from(rgba(0, 0, 0, 0.671)),
    to(rgba(0, 0, 0, 0))
  );
}

.loaded {
  filter: none !important;
  transform: scale(1) !important;
}

.preview-image {
  object-fit: cover;
  width: 100%;
  max-width: calc((500px / 4) + 2rem);
  border-radius: 4px;
  cursor: pointer;
}

.preview-image.selected {
  opacity: 0.3;
  border: 3px solid greenyellow;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.tags-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
}
.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}
